.menu_elem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: clamp(1vw, 5vw, 30vw) clamp(3rem, 4vh, 6rem);
    font-size: 20px;
}

.menu_elem_title {
    text-align: center;
    font-family: 'Artistic';
    font-size: 36px;
}

.menu-elem-columns { 
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.menu_elem_column {
    flex: 0 0 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #333;
    background-color: #E3C564;    
}

@media (max-width: 768px) {
    .menu-elem-columns {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .menu-column {
        min-width: 100%;
    }
}