* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  color: #2B2B2B;
  box-sizing: border-box;
  background: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: clamp(10vw, 5vw, 30vw);
  padding-right: clamp(10vw, 5vw, 30vw);
  padding-top: clamp(3rem, 4vh, 6rem);
  padding-bottom: clamp(3rem, 4vh, 6rem);
}
