header {
    display: block;
    background-color: #F6F6F6;
}

.header-infobar {
    font-family: "Compact";
    font-size: 20px;
    color: #A33333;
    background-color: #E3C564;
    display: flex;
    justify-content: space-between;
    padding-left: clamp(10vw, 5vw, 30vw);
    padding-right: clamp(10vw, 5vw, 30vw);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    align-items: center;
    flex-wrap: nowrap;
}

.header-infobar > div {
    display: flex;
    gap: 3rem;
    flex-wrap: nowrap;
}

.header-main {
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding-left: clamp(10vw, 5vw, 30vw);
    padding-right: clamp(10vw, 5vw, 30vw);
    padding-top: clamp(3rem, 4vh, 6rem);
    padding-bottom: clamp(3rem, 4vh, 6rem);
}

.logo img {
    flex-shrink: 0;
}

nav > ul {
    display: flex;
    gap: 1.5rem;
    font-family: "Compact";
    font-size: 32px;
}

nav a {
    transition: 0.3s;
}

nav a:hover {
    color: #A33333;
    font-size: 30px;
}

nav a:active {
    color: #E3C564;
}

.header-hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: center;
    padding-bottom: 2rem;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  


@media (max-width: 1024px) {
    .main-navbar, .header-infobar { display: none; }
    .logo img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .header-main  {
        justify-content: space-between; 
        position: relative; 
        margin: 0;  
        padding: 0.5rem;   
    }
}

