.event_card {
    display: flex;
    gap: 3vw;
    max-width: 386px;
    max-height: 212px;
    background-color: #F6F6F6;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.3s; 
    cursor: pointer;
}

.event_card:hover {
    box-shadow: 0px 0px 5px 0px;    
}

.event_card-img {
    width: 163px;
    height: 192px;
    border: 0.5px solid #A33333;
    flex-shrink: 0;
}

.event_card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}