footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F6F6F6;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

footer > p {
    margin-top: 1rem;
    font-size: 10px;
}

.footer-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-links-icons-vk:hover {
    fill: #2B2B2B;
    transition: 0.3s;
}

.social-links-icons-vk:hover {
    fill: #A33333;
}

.social-links-icons-vk:active {
    fill: #E3C564;
}