footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F6F6F6;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

.footer-main {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-col {
    display: flex;
    gap: 1rem;
}

footer > p {
    margin-top: 1rem;
    font-size: 10px;
}

.copyable {
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    border-bottom: 1px solid #2B2B2B; 
}

.copyable:hover {
    color: #A33333;
    border-bottom: 1px solid #A33333;
}

.copyable:active {
    color: #E3C564;
    border-bottom: 1px solid #E3C564;
}

@media (max-width: 1024px) {
    .footer-main {
        flex-direction: column;
        text-align: center;
    }
}